trigger:
  - main

pool:
  vmImage: 'ubuntu-latest'

name: $(Build.BuildId)

variables:
- group: 'EA ECR-PUSH SHARED'
- group: 'easi'
- name: 'k8s-service-connection'
  value: 'enterprisearchitecture-pnpbj-k8s'
- name: 'kubernetes-namespace'
  value: 'enterprisearchitecture-pnpbj'

steps:
- task: Go@0
  name: BackendUnitTests
  displayName: 'Run backend unit tests'
  inputs:
    command: 'test'
    arguments: '-v ./...'
    workingDirectory: 'backend'

- task: NodeTool@0
  name: InstallNode
  displayName: 'Install Node.js'
  inputs:
    versionSpec: '20.x'

- task: Npm@1
  name: FrontendInstall
  displayName: 'Install frontend dependencies'
  inputs:
    command: 'ci'
    workingDir: 'frontend'

- script: |
    cd frontend
    CI=true npm run test -- --run
  name: FrontendUnitTests
  displayName: 'Run frontend unit tests'

- task: PublishTestResults@2
  name: PublishFrontendTestResults
  displayName: 'Publish frontend test results'
  condition: always()
  inputs:
    testResultsFormat: 'JUnit'
    testResultsFiles: '**/junit.xml'
    searchFolder: 'frontend/test-results'
    mergeTestResults: true
    failTaskOnFailedTests: true
    testRunTitle: 'Frontend Unit Tests'

# Build Docker images after tests pass
- task: Docker@2
  name: BuildMigrate
  displayName: 'Build migrate docker image'
  inputs:
    command: 'build'
    Dockerfile: 'backend/Dockerfile.migrate'
    buildContext: 'backend'
    arguments: '--tag easi-migrate:$(Build.BuildNumber)'
    addPipelineData: false

- task: Docker@2
  name: BuildBackend
  displayName: 'Build backend docker image'
  inputs:
    command: 'build'
    Dockerfile: 'backend/Dockerfile'
    buildContext: 'backend'
    arguments: '--tag easi-backend:$(Build.BuildNumber)'
    addPipelineData: false

- task: Docker@2
  name: BuildFrontend
  displayName: 'Build frontend docker image'
  inputs:
    command: 'build'
    Dockerfile: 'frontend/Dockerfile'
    buildContext: 'frontend'
    arguments: '--tag easi-frontend:$(Build.BuildNumber)'
    addPipelineData: false

- task: ECRPushImage@1
  name: PushMigrate
  displayName: 'Push migrate image to AWS'
  condition: succeeded()
  inputs:
    awsCredentials: 'EA ECR-PUSH SHARED'
    regionName: 'eu-central-1'
    imageSource: 'imagename'
    sourceImageName: 'easi-migrate'
    sourceImageTag: '$(Build.BuildNumber)'
    repositoryName: 'architecture/easi-migrate'
    pushTag: '$(Build.BuildNumber)'

- task: ECRPushImage@1
  name: PushBackend
  displayName: 'Push backend image to AWS'
  condition: succeeded()
  inputs:
    awsCredentials: 'EA ECR-PUSH SHARED'
    regionName: 'eu-central-1'
    imageSource: 'imagename'
    sourceImageName: 'easi-backend'
    sourceImageTag: '$(Build.BuildNumber)'
    repositoryName: 'architecture/easi-backend'
    pushTag: '$(Build.BuildNumber)' 

- task: ECRPushImage@1
  name: PushFrontend
  displayName: 'Push frontend image to AWS'
  condition: succeeded()
  inputs:
    awsCredentials: 'EA ECR-PUSH SHARED'
    regionName: 'eu-central-1'
    imageSource: 'imagename'
    sourceImageName: 'easi-frontend'
    sourceImageTag: '$(Build.BuildNumber)'
    repositoryName: 'architecture/easi-frontend'
    pushTag: '$(Build.BuildNumber)' 
    
- task: replacetokens@5
  name: ReplaceTokens
  displayName: 'replace tokens in k8s manifests'
  condition: succeeded()
  inputs:
    targetFiles: '$(Build.SourcesDirectory)/k8s/*.yaml'
    encoding: 'auto'
    tokenPattern: 'azpipelines'
    writeBOM: true
    actionOnMissing: 'warn'
    keepToken: false
    actionOnNoFiles: 'fail'
    enableTransforms: false
    enableRecursion: false
    useLegacyPattern: false
    enableTelemetry: false

- task: Kubernetes@1
  name: DeleteDbCredentialsSecret
  displayName: 'Delete easi-db-credentials secret if exists'
  continueOnError: true
  inputs:
    connectionType: Kubernetes Service Connection
    kubernetesServiceEndpoint: '$(k8s-service-connection)'
    namespace: '$(kubernetes-namespace)'
    command: delete
    arguments: 'secret easi-db-credentials'
    versionSpec: 1.22.9

- task: Kubernetes@1
  name: CreateDbCredentialsSecret
  displayName: 'Create easi-db-credentials secret'
  condition: succeeded()
  inputs:
    connectionType: Kubernetes Service Connection
    kubernetesServiceEndpoint: '$(k8s-service-connection)'
    namespace: '$(kubernetes-namespace)'
    command: create
    arguments: 'secret generic easi-db-credentials --from-literal=DB_ADMIN_CONN_STRING="$(DB_ADMIN_CONN_STRING)"'
    versionSpec: 1.22.9

- task: Kubernetes@1
  name: DeleteAppDbSecret
  displayName: 'Delete easi-prod-postgres secret if exists'
  continueOnError: true
  inputs:
    connectionType: Kubernetes Service Connection
    kubernetesServiceEndpoint: '$(k8s-service-connection)'
    namespace: '$(kubernetes-namespace)'
    command: delete
    arguments: 'secret easi-prod-postgres'
    versionSpec: 1.22.9

- task: Kubernetes@1
  name: CreateAppDbSecret
  displayName: 'Create easi-prod-postgres secret'
  condition: succeeded()
  inputs:
    connectionType: Kubernetes Service Connection
    kubernetesServiceEndpoint: '$(k8s-service-connection)'
    namespace: '$(kubernetes-namespace)'
    command: create
    arguments: 'secret generic easi-prod-postgres --from-literal=DB_CONN_STRING="$(DB_CONN_STRING)"'
    versionSpec: 1.22.9

- task: Kubernetes@1
  name: ApplyConfigMap
  displayName: 'Apply migrations ConfigMap'
  condition: succeeded()
  inputs:
    connectionType: Kubernetes Service Connection
    kubernetesServiceEndpoint: '$(k8s-service-connection)'
    namespace: '$(kubernetes-namespace)'
    command: apply
    arguments: '-f $(Build.SourcesDirectory)/k8s/migrations-configmap.yaml'
    versionSpec: 1.22.9

- task: Kubernetes@1
  name: ApplyManifests
  displayName: 'Apply backend and frontend manifests'
  condition: succeeded()
  inputs:
    connectionType: Kubernetes Service Connection
    kubernetesServiceEndpoint: '$(k8s-service-connection)'
    namespace: '$(kubernetes-namespace)'
    command: apply
    arguments: '-f $(Build.SourcesDirectory)/k8s/backend-deployment.yaml -f $(Build.SourcesDirectory)/k8s/backend-service.yaml -f $(Build.SourcesDirectory)/k8s/frontend-deployment.yaml -f $(Build.SourcesDirectory)/k8s/frontend-service.yaml -f $(Build.SourcesDirectory)/k8s/ingress.yaml'
    versionSpec: 1.22.9
